body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cp-row {
  margin: -8px;
}
.cp-col {
  padding: 8px;
  background: transparent;
  border: 0;
  width: 23.5%;
  float: left;
  color: floralwhite;
  font-weight: bold;
}
.cp-col > div {
  background: #096dd9;
  height: 120px;
  line-height: 120px;
  font-size: 18px;
}
.cp-col > div > p {
  cursor: pointer;
}
.home_page_banner {
  height: 300px;
  padding-bottom: 20px;
}

.home_page_banner img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: auto;
    border-radius: 5px;
    content: url(assets/images/gifts.jpg);
}